# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories (remove the comment below to include it)
# vendor/

# JetBrains IDEs
.idea/
.DS_Store/
*.iml

# GoLand specific ignore rules
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

# Editor and IDE directories
.vscode/

# MongoDB - log files and database storage
*.log
/data/db/
/data/configdb/

# Kafka - data directories
/kafka-logs/

# Redis - data and log files
/redis-staging.dump.rdb
/dump.rdb
*.rdb
*.aof
